# Ignore virtual environment
venv/
**/venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
*.env

# Ignore logs
*.log
